<script>
  import { link } from "svelte-routing";
  import { image } from "../utils";
  
  document.body.style.backgroundImage = "url(images/contacts-bg.png)";
</script>

<!-- Page Content -->
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5 text-center">
      <h1 class="font-weight-light">About</h1>
      <br />

      <div class="d-md-flex justify-content-around">
        <img
          src="images/cv/vlados-mini.png"
          alt="Vlados"
          class="rounded-circle"
          width="256"
          use:image
        />
      </div>
      <br />

      <div class="d-md-flex justify-content-around">
        <div>
          <p class="lead m-0">Vladislav P.</p>
          <h4>Name</h4>
        </div>

        <div>
          <p class="lead m-0">26 years</p>
          <h4>Age</h4>
        </div>

        <div>
          <p class="lead m-0">Tbilisi</p>
          <h4>Location</h4>
        </div>
      </div>

      <br />
      <h1 class="font-weight-light">Contacts</h1>
      <br />

      <div class="d-md-flex justify-content-around">
        <div>
          <a href="mailto:69popovvlad@gmail.com" class="lead m-0"
            >69popovvlad@gmail.com</a
          >
          <h4>E-mail</h4>
        </div>

        <div>
          <a
            class="lead m-0"
            target="_blank"
            href="https://gitlab.com/69popovvlad"
          >
            @69popovvlad
          </a>
          <h4>Git</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Content -->
