<script>
  import { link } from "svelte-routing";
  import { image } from "../utils";

  document.body.style.backgroundImage = "url(images/main-bg.png)";
</script>

<!-- Page Content -->
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">

      <!-- Unity -->
      <div class="row d-flex justify-content-around">
        <div class="col-lg-5 pb-2">
          <h1 class="font-weight-light">Мой путь в Unity</h1>
          <p class="lead">
            Стаж в студии
            <a
            href="https://plarium.com"
            target="_blank">
            Plarium
            </a>
            1.5 года
            
            <br />
            <br />

            А также создание с нуля и публикация собственных мобильных приложений
            <br />
            + чутка фриланса
          </p>
          <a href="unity" use:link class="btn btn-outline-secondary">
            Подробнее
          </a>
        </div>

        <div class="img-plane col-lg-7 p-0">
          <img
            src="images/badballs-example.png"
            alt="BadBalls game"
            use:image />
        </div>
      </div>
      <!-- Unity -->

      <div style="height: 1.5em" />
      <hr />
      <div style="height: 1.5em" />

      <!-- Java -->
      <div class="row d-flex justify-content-around">
        <div class="col-lg-5 pb-2">
          <h1 class="font-weight-light">Java</h1>
          <p class="lead">
            Опыт: 1+ год в
            <a href="http://www.tsniimash.ru" target="_blank">ЦНИИмаш</a>
          </p>
          <p class="lead">
            Разработка программного обеспечения для решения задач космической
            геодезии.
          </p>
          <a href="java" use:link class="btn btn-outline-secondary">
            Подробнее
          </a>
        </div>

        <div class="col-lg-7 p-0">
        <img
                  src="images/retracking.gif"
                  alt="Java app"
                  class="col-lg"
                  use:image />
        </div>
      </div>
      <!-- Java -->

      <div style="height: 1.5em" />
      <hr />
      <div style="height: 1.5em" />

      <!-- Web -->
      <div class="row d-flex justify-content-around">
        <div class="col-lg-5 pb-2">
          <h1 class="font-weight-light">Web</h1>
          <p class="lead">
            Иногда приходится баловаться с разработкой сайтов.
            <br />
            И ещё чуть-чуть с расширениями для браузеров Chrome
          </p>
          <a href="web" use:link class="btn btn-outline-secondary">
            Подробнее
          </a>
        </div>

        <div class="col-lg-7 p-0">
          <img
                  src="images/main-bg.png"
                  alt="Java app"
                  class="col-lg"
                  use:image />
        </div>
      </div>
      <!-- Web -->

      <div style="height: 1.5em" />
      <hr />
      <div style="height: 1.5em" />

      <!-- VBA -->
      <div class="row d-flex justify-content-around">
        <div class="col-lg-5 pb-2">
          <h1 class="font-weight-light">VBA</h1>
          <p class="lead">
            Имею также опыт работы с Excel VBA.
            <br />
            Воспроизводил и наглядно показывал алгоритмику ПО написанных на
            Java.
          </p>
          <a href="vba" use:link class="btn btn-outline-secondary">Подробнее</a>
        </div>

        <div class="img-plane col-lg-7 p-0">
          <img src="images/vba-bg.png" alt="Excel VBA" use:image />
        </div>
      </div>
      <!-- VBA -->

    </div>
  </div>
</div>
<!-- Page Content -->
