<script>
  import { link } from "svelte-routing";
  import { image } from "../utils";

  let timeline;
  let timelineLine;
  let timelineLineProgress;
  let timelineItems = [];
  let agOuterHeight = window.outerHeight;
  let f = -1;
  let agFlag = false;
  let agPosY;

  function addTimelineItem(node) {
    timelineItems.push(node);
  }

  function onScroll() {
    agPosY = window.scrollY;

    updateFrame();
  }

  function onResize() {
    agPosY = window.scrollY;

    updateFrame();
  }

  function updateWindow() {
    agFlag = false;

    timelineLine.style.top =
      timelineItems[0]
        .querySelector(".js-timeline-card_point-box")
        .getBoundingClientRect().top -
      timelineItems[0].getBoundingClientRect().top +
      "px";

    timelineLine.style.bottom =
      timelineItems[timelineItems.length - 1].clientHeight + "px";

    if (f !== agPosY) {
      f = agPosY;
      updateProgress();
    }
  }

  function updateProgress() {
    const top =
      timelineItems[timelineItems.length - 1]
        .querySelector(".js-timeline-card_point-box")
        .getBoundingClientRect().top + window.scrollY;

    const i = top + agPosY - window.scrollY;
    const a = timelineLineProgress.getBoundingClientRect().top + window.scrollY;
    let n = agPosY - a + agOuterHeight / 2;
    if (i <= agPosY + agOuterHeight / 2) {
      n = i - a;
    }

    timelineLineProgress.style.height = n + "px";

    timelineItems.forEach((el) => {
      const top =
        el.querySelector(".js-timeline-card_point-box").getBoundingClientRect()
          .top + window.scrollY;

      if (top < agPosY + 0.5 * agOuterHeight) {
        el.classList.add("js-ag-active");
      } else {
        el.classList.remove("js-ag-active");
      }
    });
  }

  function updateFrame() {
    agFlag || requestAnimationFrame(updateWindow);
    agFlag = true;
  }

  document.body.style.backgroundImage = "";
</script>

<svelte:window on:load={onScroll} on:scroll={onScroll} on:resize={onResize} />

<div
  class="py-5 bg-image-full"
>
  <div class="text-center mt-5">
    <img
      class="img-fluid rounded-circle mb-4"
      src="images/cv/vlados-mini.png"
      width="200"
      alt="Me"
    />
    <h1 class="text-white fs-3 fw-bolder">Vladislav P.</h1>
    <p class="text-white-50 mb-0">26 years, Georgia - Tbilisi</p>
    <br />
    <h2 class="text-white fs-3 fw-bolder">Skills</h2>
    <h4 class="text-white mb-0">C#, Unity - a mobile game develompent</h4>
    <h4 class="text-white mb-0">
      Git console commands
    </h4>
    <h4 class="text-white mb-0">
      Also used: Java, Godot engine, JS, docker, Excel VBA, MySQL, laravel, svelte
    </h4>
  </div>
</div>

<!-- Page Content -->
<div class="container">
  <div class="ag-timeline-block">
    <div class="ag-timeline_title-box">
      <!-- <div class="ag-timeline_tagline">Timeline</div> -->
      <!-- <div class="ag-timeline_title">Experience</div> -->
    </div>
    <section class="ag-section">
      <div class="ag-format-container">
        <div class="js-timeline ag-timeline" bind:this={timeline}>
          <div
            class="js-timeline_line ag-timeline_line"
            bind:this={timelineLine}
          >
            <div
              class="js-timeline_line-progress ag-timeline_line-progress"
              bind:this={timelineLineProgress}
            />
          </div>
          <div class="ag-timeline_list">
            <div class="js-timeline_item ag-timeline_item" use:addTimelineItem>
              <div class="ag-timeline-card_box">
                <div
                  class="js-timeline-card_point-box ag-timeline-card_point-box"
                >
                  <div class="ag-timeline-card_point">2012</div>
                </div>
                <div class="ag-timeline-card_meta-box">
                  <div class="ag-timeline-card_meta">Education</div>
                </div>
              </div>
              <div class="ag-timeline-card_item">
                <div class="ag-timeline-card_inner">
                  <div class="ag-timeline-card_img-box">
                    <img
                      src="images/cv/hecker.png"
                      class="ag-timeline-card_img"
                      width="640"
                      alt="picture"
                      use:image
                    />
                  </div>
                  <div class="ag-timeline-card_info">
                    <div class="ag-timeline-card_title">
                      It started as a hobby
                    </div>
                    <div class="ag-timeline-card_desc">
                      In 2012 I went to the Moscow Financial College at the
                      Faculty of Accounting and Economics.
                      <br />In 2015 - graduated from college and entered the
                      Financial University under the Government of the Russian
                      Federation at the Faculty of Taxes and Taxation
                      <br />
                      <br />
                      Mom wanted me to understand the basics of economics and be
                      able to start my own business using the acquired knowledge.
                      But I have always aspired to the world of mobile development,
                      and since the first year of college I began to study how game
                      development works
                      <br />
                      <br />

                      Skills here:
                      <span class="text-green-lighten">
                        <br />• purposefulness
                        <br />• own view of the world (standard things)
                      </span>
                    </div>
                  </div>
                </div>
                <div class="ag-timeline-card_arrow" />
              </div>
            </div>

            <div class="js-timeline_item ag-timeline_item" use:addTimelineItem>
              <div class="ag-timeline-card_box">
                <div
                  class="js-timeline-card_point-box ag-timeline-card_point-box"
                >
                  <div class="ag-timeline-card_point">2016</div>
                </div>
                <div class="ag-timeline-card_meta-box">
                  <div class="ag-timeline-card_meta">OpaGopa</div>
                </div>
              </div>
              <div class="ag-timeline-card_item">
                <div class="ag-timeline-card_inner">
                  <div class="ag-timeline-card_img-box">
                    <img
                      src="images/opagopa-example.png"
                      alt="OpaGopa game"
                      class="ag-timeline-card_img"
                      width="640"
                      use:image
                    />
                  </div>
                  <div class="ag-timeline-card_info">
                    <div class="ag-timeline-card_title">OpaGopa</div>
                    <div class="ag-timeline-card_desc">
                      Jump over the heads of Nerds, collect seeds. Was removed
                      from Google Play. There are plans to change the mechanics
                      of Gop management to a more understandable one
                      <br />
                      <br />

                      Skills here:
                      <span class="text-green-lighten">
                        <br />• no skills just fun
                      </span>

                      <br />
                      <br />

                      <a
                        href="https://gitlab.com/cheerful-gamedev/opagopa"
                        class="btn ag-btn btn-outline-blue"
                        target="_blank"
                      >
                        GitLab
                      </a>

                      <a
                        href="https://drive.google.com/file/d/1mDwV7VNz8SUH86qJJ-W1apUgodjTf71x/view?usp=sharing"
                        class="btn ag-btn btn-outline-blue"
                        target="_blank"
                      >
                        Try it now
                      </a>
                    </div>
                  </div>
                </div>
                <div class="ag-timeline-card_arrow" />
              </div>
            </div>

            <div class="js-timeline_item ag-timeline_item" use:addTimelineItem>
              <div class="ag-timeline-card_box">
                <div
                  class="js-timeline-card_point-box ag-timeline-card_point-box"
                >
                  <div class="ag-timeline-card_point">2017</div>
                </div>
                <div class="ag-timeline-card_meta-box">
                  <div class="ag-timeline-card_meta">Chess</div>
                </div>
              </div>
              <div class="ag-timeline-card_item">
                <div class="ag-timeline-card_inner">
                  <div class="ag-timeline-card_img-box">
                    <img
                      src="images/cv/chess.png"
                      alt="Chess game"
                      class="ag-timeline-card_img"
                      width="640"
                      use:image
                    />
                  </div>
                  <div class="ag-timeline-card_info">
                    <div class="ag-timeline-card_title">
                      Chess Training App (freelance order)
                    </div>
                    <div class="ag-timeline-card_desc">
                      The main functionality of the program is the provision of
                      tasks and the theoretical part to the user.
                      <br />
                      <br />
                      Application functions: authorization, registration, coach change,
                      etc., were carried out using MySQL on the hosting, from which
                      also tasks were downloaded as text files in .pgn format, after
                      which they steamed on the client side and enrolled in the class,
                      for ease of use
                      <br />
                      <br />

                      Skills here:
                      <span class="text-green-lighten">
                        <br />• data parsing
                        <br />• worked with MySQL data base and hosting requests
                      </span>
                    </div>
                  </div>
                </div>
                <div class="ag-timeline-card_arrow" />
              </div>
            </div>

            <div class="js-timeline_item ag-timeline_item" use:addTimelineItem>
              <div class="ag-timeline-card_box">
                <div
                  class="js-timeline-card_point-box ag-timeline-card_point-box"
                >
                  <div class="ag-timeline-card_point">2017</div>
                </div>
                <div class="ag-timeline-card_meta-box">
                  <div class="ag-timeline-card_meta">BadBalls</div>
                </div>
              </div>
              <div class="ag-timeline-card_item">
                <div class="ag-timeline-card_inner">
                  <div class="ag-timeline-card_img-box">
                    <img
                      src="images/badballs-example.png"
                      alt="BadBalls game"
                      class="ag-timeline-card_img"
                      width="640"
                      use:image
                    />
                  </div>
                  <div class="ag-timeline-card_info">
                    <div class="ag-timeline-card_title">
                      BadBalls (not finished)
                    </div>
                    <div class="ag-timeline-card_desc">
                      Fight wall to wall. Each player had the opportunity to
                      customize each character class. It was implemented using a
                      database with character characteristics and MySQL queries
                      to pull them into battle
                      <br />
                      <br />
                      <a
                        href="http://badballs.ru"
                        class="btn ag-btn btn-outline-blue"
                        target="_blank"
                      >
                        Web-demo
                      </a>

                      <br />
                      <br />

                      Implemented P2P connection by using Unet at first, after
                      rewrote it to own socket-system.
                      <br />
                      Although we never finished it, I got acquainted with sockets
                      and TCP and UDP protocols, as well as with the understanding
                      of P2P and authority server

                      <br />
                      <br />

                      In the third implementation, I started doing my own
                      physics so that it would be possible to create a
                      client-server connection without running Unity to
                      calculate fights
                      <br />
                      <br />

                      Skills here:
                      <span class="text-green-lighten">
                        <br />• understand client-server and P2P connections
                        <br />• understand the difference between TCP and UDP protocols
                        <br />• implemented own physics
                        <br />• also used LiteNetLib for networking
                      </span>

                      <br />
                      <br />

                      <a
                        href="https://gitlab.com/69popovvlad/server-phys-test"
                        class="btn ag-btn btn-outline-blue"
                        target="_blank"
                      >
                        GitLab
                      </a>
                    </div>
                  </div>
                </div>
                <div class="ag-timeline-card_arrow" />
              </div>
            </div>

            <div class="js-timeline_item ag-timeline_item" use:addTimelineItem>
              <div class="ag-timeline-card_box">
                <div
                  class="js-timeline-card_point-box ag-timeline-card_point-box"
                >
                  <div class="ag-timeline-card_point">2019</div>
                </div>
                <div class="ag-timeline-card_meta-box">
                  <div class="ag-timeline-card_meta">Tsniimash</div>
                </div>
              </div>
              <div class="ag-timeline-card_item">
                <div class="ag-timeline-card_inner">
                  <div class="ag-timeline-card_img-box">
                    <img
                      src="images/cv/satellite.png"
                      alt="Tsniimash"
                      class="ag-timeline-card_img"
                      width="640"
                      use:image
                    />
                  </div>
                  <div class="ag-timeline-card_info">
                    <div class="ag-timeline-card_title">
                      Central Research Institute for Machine Building
                      <br />
                      Department:
                      <a href="https://www.glonass-iac.ru/">GLONASS</a>
                    </div>
                    <div class="ag-timeline-card_desc">
                      I got my first official job in the field of software
                      development - TsNIIMash GLONASS department.
                      <br />
                      Here I was engaged in a large range of tasks, but the main
                      ones were in the Java programming language, and one of the
                      interesting projects was retracking
                      <br />
                      <br />

                      Skills here:
                      <span class="text-green-lighten">
                        <br />• flexibility and learnability
                        <br />• I have been finalizing projects on Fortran
                      </span>

                      <br />
                      <br />

                      <a
                        href="https://tsniimash.ru"
                        class="btn ag-btn btn-outline-blue"
                        target="_blank"
                      >
                        tsniimash.ru
                      </a>
                    </div>
                  </div>
                </div>
                <div class="ag-timeline-card_arrow" />
              </div>
            </div>

            <div class="js-timeline_item ag-timeline_item" use:addTimelineItem>
              <div class="ag-timeline-card_box">
                <div
                  class="js-timeline-card_point-box ag-timeline-card_point-box"
                >
                  <div class="ag-timeline-card_point">2019</div>
                </div>
                <div class="ag-timeline-card_meta-box">
                  <div class="ag-timeline-card_meta">Tsniimash</div>
                </div>
              </div>
              <div class="ag-timeline-card_item">
                <div class="ag-timeline-card_inner">
                  <div class="ag-timeline-card_img-box">
                    <img
                      src="images/retracking.gif"
                      alt="retracking"
                      class="ag-timeline-card_img"
                      width="640"
                      use:image
                    />
                  </div>
                  <div class="ag-timeline-card_info">
                    <div class="ag-timeline-card_title">
                      One of the projects in tsniimash
                    </div>
                    <div class="ag-timeline-card_desc">
                      Retracking - a mathematical approximation of a series
                      representing an impulse received from a satellite for
                      subsequent calculation of parameters
                      <br />
                      <br />

                      Skills here:
                      <span class="text-green-lighten">
                        <br />• worked with mathematics
                        <br />• refactored old implementation and created a better one
                        <br />• optimization and file stream caching
                      </span>

                      <br />
                      <br />

                      <a
                        href="/java"
                        class="btn ag-btn btn-outline-blue"
                        target="_blank"
                      >
                        More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="ag-timeline-card_arrow" />
              </div>
            </div>

            <div class="js-timeline_item ag-timeline_item" use:addTimelineItem>
              <div class="ag-timeline-card_box">
                <div
                  class="js-timeline-card_point-box ag-timeline-card_point-box"
                >
                  <div class="ag-timeline-card_point">2019</div>
                </div>
                <div class="ag-timeline-card_meta-box">
                  <div class="ag-timeline-card_meta">Tsniimash</div>
                </div>
              </div>
              <div class="ag-timeline-card_item">
                <div class="ag-timeline-card_inner">
                  <div class="ag-timeline-card_img-box">
                    <img
                      src="images/vba-bg.png"
                      alt="Excel VBA"
                      class="ag-timeline-card_img"
                      width="640"
                      use:image
                    />
                  </div>
                  <div class="ag-timeline-card_info">
                    <div class="ag-timeline-card_title">
                      Excel VBA experience
                    </div>
                    <div class="ag-timeline-card_desc">
                      In addition to the development itself, there was a need
                      for a visual step-by-step demonstration of the algorithm
                      to a professor who advised me, for which I studied Excel
                      VBA, thanks to which I built dynamic tables with
                      calculations
                      <br />
                      <br />

                      Skills here:
                      <span class="text-green-lighten">
                        <br />• Excel
                        <br />• ability to provide information in an accessible form
                      </span>

                      <br />
                      <br />

                      <a
                        href="/vba"
                        class="btn ag-btn btn-outline-blue"
                        target="_blank"
                      >
                        More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="ag-timeline-card_arrow" />
              </div>
            </div>

            <div class="js-timeline_item ag-timeline_item" use:addTimelineItem>
              <div class="ag-timeline-card_box">
                <div
                  class="js-timeline-card_point-box ag-timeline-card_point-box"
                >
                  <div class="ag-timeline-card_point">2019</div>
                </div>
                <div class="ag-timeline-card_meta-box">
                  <div class="ag-timeline-card_meta">Zombo</div>
                </div>
              </div>
              <div class="ag-timeline-card_item">
                <div class="ag-timeline-card_inner">
                  <div class="ag-timeline-card_img-box">
                    <img
                      src="images/unity-example.png"
                      alt="Zombo game"
                      class="ag-timeline-card_img"
                      width="640"
                      use:image
                    />
                  </div>
                  <div class="ag-timeline-card_info">
                    <div class="ag-timeline-card_title">Zombo</div>
                    <div class="ag-timeline-card_desc">
                      And in the evenings after work, I continued to develope my
                      own games. My artist and I decided to lower the bar and
                      rethink something simple by presenting it in a new
                      beautiful cover. This is how the Zombo project was born -
                      Tower Defense but the opposite
                      <br />
                      <br />

                      <a
                        href="files/zombo pitch.html"
                        class="btn ag-btn btn-outline-blue"
                        target="_blank"
                      >
                        Pitch
                      </a>

                      <a
                        href="https://drive.google.com/file/d/1Ss2r8_EFl824XR0XxfcFrm-AahBrKteG/view?usp=sharing"
                        class="btn ag-btn btn-outline-blue"
                        target="_blank"
                      >
                        Try it now
                      </a>
                      
                      <br />
                      <br />
                      In this game, I worked a lot with the integration of the animation
                      plugin that we bought with the artist (.fly to .swf plugin)
                      so that the game had a large number of triggers to keep the
                      user

                      <br />
                      <br />

                      Skills here:
                      <span class="text-green-lighten">
                        <br />• task management for interaction with the artist
                        <br />• plugin integration
                      </span>

                      <br />
                      <br />

                      <a
                        href="https://gitlab.com/cheerful-gamedev/zombies-vs-towers"
                        class="btn ag-btn btn-outline-blue"
                        target="_blank"
                      >
                        GitLab
                      </a>

                      <a
                        href="https://gitlab.com/cheerful-gamedev/tz"
                        class="btn ag-btn btn-outline-blue"
                        target="_blank"
                      >
                        GitLab (first concept)
                      </a>
                    </div>
                  </div>
                </div>
                <div class="ag-timeline-card_arrow" />
              </div>
            </div>

            <div class="js-timeline_item ag-timeline_item" use:addTimelineItem>
              <div class="ag-timeline-card_box">
                <div
                  class="js-timeline-card_point-box ag-timeline-card_point-box"
                >
                  <div class="ag-timeline-card_point">2020</div>
                </div>
                <div class="ag-timeline-card_meta-box">
                  <div class="ag-timeline-card_meta">Plarium</div>
                </div>
              </div>
              <div class="ag-timeline-card_item">
                <div class="ag-timeline-card_inner">
                  <div class="ag-timeline-card_img-box">
                    <img
                      src="images/cv/plarium.png"
                      alt="Plarium"
                      class="ag-timeline-card_img plarium-img"
                      width="640"
                      use:image
                    />
                  </div>
                  <div class="ag-timeline-card_info">
                    <div class="ag-timeline-card_title">Plarium</div>
                    <div class="ag-timeline-card_desc">
                      I started working at Plarium in November 2020. I passed a
                      very difficult, but interesting technical interview, and
                      began to study the project that I had to work on.
                      Development of controls, fix bugs, integration of new
                      mechanics

                      <br />
                      <br />

                      After about a year in the company, my tasks grew up in
                      order, I was already assigned tasks with correcting
                      asynchronous code in a multi-thread, as well as writing a
                      behavior tree with an editor

                      <br />
                      <br />

                      Skills here:
                      <span class="text-green-lighten">
                        <br />• development of public API for client-side
                        <br />• task schedulers and custom awaiter
                        <br />• separation of logical and visual parts
                        <br />• and a bit of writing editors
                      </span>

                      <br />
                      <br />

                      <a
                        href="https://plarium.com"
                        class="btn ag-btn btn-outline-blue"
                        target="_blank"
                      >
                        Plarium.com
                      </a>
                    </div>
                  </div>
                </div>
                <div class="ag-timeline-card_arrow" />
              </div>
            </div>

            <div class="js-timeline_item ag-timeline_item" use:addTimelineItem>
              <div class="ag-timeline-card_box">
                <div
                  class="js-timeline-card_point-box ag-timeline-card_point-box"
                >
                  <div class="ag-timeline-card_point">2021</div>
                </div>
                <div class="ag-timeline-card_meta-box">
                  <div class="ag-timeline-card_meta">Home project</div>
                </div>
              </div>
              <div class="ag-timeline-card_item">
                <div class="ag-timeline-card_inner">
                  <div class="ag-timeline-card_img-box">
                    <img
                      src="images/cv/snow_demo_slides.png"
                      alt="Snow demo"
                      class="ag-timeline-card_img"
                      width="640"
                      use:image
                    />
                  </div>
                  <div class="ag-timeline-card_info">
                    <div class="ag-timeline-card_title">Home project</div>
                    <div class="ag-timeline-card_desc">
                      Also one of the last demos that I did.
                      
                      <br />
                      <br />

                      Here I used displacement shader with a shader to draw a depth map, and also used compute shader.                
                      The shader works fine on mobile devices.

                      <br />
                      <br />

                      Skills here:
                      <span class="text-green-lighten">
                        <br />• wrtite shader program with HSLS
                        <br />• understand parallax, displacement shaders
                        <br />• understand shaders optimization a little bit
                      </span>
                    </div>
                  </div>
                </div>
                <div class="ag-timeline-card_arrow" />
              </div>
            </div>

            <div class="js-timeline_item ag-timeline_item" use:addTimelineItem>
              <div class="ag-timeline-card_box">
                <div
                  class="js-timeline-card_point-box ag-timeline-card_point-box"
                >
                  <div class="ag-timeline-card_point">2022</div>
                </div>
                <div class="ag-timeline-card_meta-box">
                  <div class="ag-timeline-card_meta">Home project</div>
                </div>
              </div>
              <div class="ag-timeline-card_item">
                <div class="ag-timeline-card_inner">
                  <div class="ag-timeline-card_img-box">
                    <img
                      src="images/cv/beresnev_logo.png"
                      alt="Beresnev games"
                      class="ag-timeline-card_img"
                      width="640"
                      use:image
                    />
                  </div>
                  <div class="ag-timeline-card_info">
                    <div class="ag-timeline-card_title">Beresnev.Games</div>
                    <div class="ag-timeline-card_desc">
                      I worked in rnd department and developed several hybrid-casual prototypes there.
                      With different types of core-mechanics and also created mechanics for monetization 
                      such as energy collecting, lucky wheel and loot boxes.
                      
                      <br />
                      <br />

                      Skills here:
                      <span class="text-green-lighten">
                        <br />• fast writing many types of mechanics
                        <br />• maintaining a balance between speed and quality
                        <br />• understanding of all stages of prototypes testing in this genre
                      </span>

                      <br />
                      <br />

                      <a
                        href="https://beresnev.games"
                        class="btn ag-btn btn-outline-blue"
                        target="_blank"
                      >
                        Beresnev.Games
                      </a>
                    </div>
                  </div>
                </div>
                <div class="ag-timeline-card_arrow" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- Page Content -->
