<script>
  import { image } from "../utils";

  document.body.style.backgroundImage = "url(images/java-bg.png)";
</script>

<!-- Page Content -->
<div class="container">
  <div class="card border-0 shadow my-5">
    <h1 class="font-weight-light text-center pt-2">Java</h1>

    <div class="card-body px-5">
      <p class="lead">
        <span style="text-decoration: underline">Опыт/Знания:</span>
        <br />
        – базовых алгоритмов, структур данных и ООП
        <br />
        – Java Core (Collections, Stream API, Reflection API etc.)
        <br />
        – Git
        <br />
      </p>
    </div>
  </div>

  <div class="card border-0 shadow my-5">
    <h1 class="font-weight-light text-center pt-2">Один из проектов</h1>

    <div class="card-body p-5">
      <h1 class="font-weight-light">Ретрекинг (retracking)</h1>
      <p class="lead">
        <span style="text-decoration: underline">Ссылки на проект:</span>
        <br />
        <a href="https://gitlab.com/69popovvlad/for-summary" target="_blank">
          Алгоритм работы (Excel VBA)
        </a>
        <br />
        <a href="https://gitlab.com/69popovvlad/retracking" target="_blank">
          Сам проект
        </a>
        (только по запросу)
        <br />
      </p>
      <p class="lead">
        <span style="text-decoration: underline">Задача (от руководства):</span>
        <br />
        Разобраться и дописать чужой, очень плохо масштабируемый, код ретрекинга
        под новые задачи.
        <br />
        А в дальнейшем и вовсе переписать с нуля.
        <br />
      </p>
      <p class="lead text-justify">
        <span style="text-decoration: underline">Описание работы:</span>
        <br />
        Ретрекинг – очень грубо говоря, это аппроксимация входного ряда
        (полученного со спутника), с использованием метода наименьших квадратов
        и формул. Формул несколько, по одной на каждый метод ретрекинга. Каждый
        метод, опять же, грубо выражаясь, предназначен для разного вида
        импульсов (чистая вода, вода + лед, лед, лед + снег и т.д.). Подробнее
        можно почитать тут:
        <a
          href="https://www.researchgate.net/publication/259839491_Sputnikovaa_altimetria_vnutrennih_vodoemov"
          target="_blank">
          ссылка
        </a>
        .
        <br />
        Помимо аппроксимации ряда, по окончанию всех итераций, связанных с одним
        рядом (на вход их поступает в виде .txt файла 20импульсов * 9000+
        строк), программа должна вывести параметры, получаемые из формул и
        оценки по параметрам, полученные с помощью неравенства
        <a
          href="https://en.wikipedia.org/wiki/Cramér–Rao_bound"
          target="_blank">
          Cramer-Rao
        </a>
        .
      </p>

      <div class="p-0 of-contain d-flex justify-content-around" style="align-items: flex-start;">
        <img
          src="images/retracking.gif"
          class="col-lg-7"
          alt="Example pic1"
          use:image />
      </div>
      <p class="text-center">
        Рисунок 1 – Демонстрация работы программы на одном выборочном импульсе
      </p>

      <br />

      <div class="p-0 of-contain d-flex justify-content-around" style="align-items: flex-start;">
        <img
          src="images/java-example2.png"
          class="col-lg-5"
          alt="Example pic2"
          use:image />
      </div>
      <p class="text-center">
        Рисунок 2 – Демонстрация отладочной информации, выводимой в консоль
      </p>

    </div>
  </div>
</div>
<!-- Page Content -->
