<script>
    document.body.style.backgroundImage = "url(images/snowden.png)";
</script>

<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5 text-center">

            <h1 class="font-weight-light">Private Policy</h1>
            <br />

            <p class="lead">Developer <span class="h5">Validosik</span> built this app as an Ad Supported app.<br />
                This app is provided by at no cost and is intended for use as is.<br />
                <br />
                This privacy policy is used to inform you regarding policies with the collection, use, and
                disclosure of Personal Information if anyone decided to use this Service.<br />
            </p>
            <h3>1. Overview</h3>
            <p class="lead">
                The app uses advertising (and in app payments) to make revenue.<br />
                The app uses third party libraries for advertising which may collect and
                share personal information with third parties.<br />
                <br />
                Links to privacy policies of third party service providers used in the app<br />
                Google Play Services <a href="https://www.google.com/policies/privacy/" target="_blank">https://www.google.com/policies/privacy/</a><br />
                Unity ADS <a href="https://unity3d.com/ru/legal/privacy-policy" target="_blank">https://unity3d.com/ru/legal/privacy-policy</a>
            </p>
            <h3>2. Sharing Your Information</h3>
            <p class="lead">
                The developer will share personal information with third parties only in the ways that are
                described in this privacy statement.<br />
                <br />
                Your personal information may be disclosed:<br />
                As required by law, such as to comply with a subpoena, or similar legal process.<br />
                To any other third party with your prior consent to do so.
            </p>
            <h3>3. What information are collected and why</h3>
            <p class="lead">
                <span class="h6">3.1 Unity</span><br />
                Unity Privacy Policy <a href="https://unity3d.com/ru/legal/privacy-policy" target="_blank">https://unity3d.com/ru/legal/privacy-policy</a><br />
                Unity, GDPR and Data Privacy FAQ <a href="https://unity3d.com/ru/legal/gdpr" target="_blank">https://unity3d.com/ru/legal/gdpr</a><br />
                <br />
                <span class="h6">3.2 Google Play Services</span><br />
                Google Play Services offers APIs and security services to the Android developer ecosystem.<br />
                Google acts as a data controller for any personal data processed in Google Play Services,
                and offers user notices and consents about the use of personal data in the service’s user
                interface in Android.<br />
                <br />
                Collected informations:<br />
                Device information<br />
                Log information<br />
                Location information<br />
                Unique application numbers<br />
                Local storage<br />
                Cookies and similar technologies<br />
                <br />
                Google use the collected information to provide, maintain, protect and improve Google's
                services, to develop new ones, and to protect Google and the users. Google also use this
                information to offer you tailored content – like giving you more relevant search results
                and ads.<br />
                <br />
                Online resources:<br />
                Google Terms of Service <a href="https://policies.google.com/terms" target="_blank">https://policies.google.com/terms</a><br />
                Google Privacy Policy <a href="https://policies.google.com/privacy" target="_blank">https://policies.google.com/privacy</a>
            </p>
            <h3>4. Security</h3>
            <p class="lead">
                I am striving to use commercially acceptable means of protecting your Personal
                Information. But remember that no method of transmission over the internet, or method of
                electronic storage is 100% secure and reliable, and I cannot guarantee its absolute
                security.
            </p>
            <h3>5. Links to Other Sites</h3>
            <p class="lead">
                This Service may contain links to other sites. If you click on a third-party link, you
                will be directed to that site. Note that these external sites are not operated by me.
                Therefore, I strongly advise you to review the Privacy Policy of these websites. I have
                no control over and assume no responsibility for the content, privacy policies, or
                practices of any third-party sites or services.
            </p>
            <h3>6. Children’s Privacy</h3>
            <p class="lead">
                These Services do not address anyone under the age of 16. I do not knowingly collect
                personally identifiable information from children under 16. In the case I discover that
                a child under 16 has provided me with personal information, I immediately delete those
                informations. If you are a parent or guardian and you are aware that your child has
                provided personal information, please contact me so that I will be able to do necessary
                actions.
            </p>
            <h3>7. Distribution</h3>
            <p class="lead">
                The only official channel for distribution of this app are:<br />
                Google Play Store <a href="https://play.google.com/" target="_blank">https://play.google.com/</a><br />
                <br />
                Any other mode of distribution is not official and thus, is not maintained by the developer.<br />
                This privacy policy is effective to distribution made on official channel only.
            </p>
            <h3>8. Changes to This Privacy Policy</h3>
            <p class="lead">
                This policy may be updated from time to time.<br />
                If you have any questions or suggestions about my Privacy Policy, do not hesitate to
                contact me.
            </p>

            <div>
                <h4>E-mail</h4>
                <a href="mailto:69popovvlad@gmail.com" class="lead m-0">69popovvlad@gmail.com</a>
            </div>

        </div>
    </div>
</div>
<!-- Page Content -->
