<script>
  import { image } from "../utils";

  document.body.style.backgroundImage = "url(images/unity-bg.png)";
</script>

<!-- <script>
  document.title = "Vladosik - Unity";
</script> -->
<!-- Page Content -->
<div class="container">

  <!-- Plarium -->
  <div class="card border-0 shadow my-5">
    <h1 class="font-weight-light text-center pt-2">Plarium</h1>
    <h2 class="font-weight-light text-center">10/11/2020 - today</h2>

    <div class="card-body px-5">
      <div class="d-flex justify-content-around text-center">
        <p class="lead">
          Начал работу в компании
          <a
            href="https://plarium.com"
            target="_blank">
            Plarium
          </a>
          в ноябре 2020 года.
          Прошёл очень сложное, но интересное техническое собеседование,
          и приступил к изучению проекта,
          над которым мне предстояло работать.

          <br />
          
          Разработка контролов, фикс багов, интеграция новых механик.

          <br />
          <br />

          После года в компании список задач сменился в сторону создания инструментария для разработки игр.
        </p>
      </div>

      <!-- Collapser -->
      <div class="accordion" id="accordionPlarium">
        <!-- My goals -->
        <div class="card">
          <div class="card-header d-flex justify-content-center" id="headingPlariumOne">
            <h2 class="mb-0">
              <button
                class="btn btn-outline-secondary"
                type="button"
                data-toggle="collapse"
                data-target="#collapsePlariumOne"
                aria-expanded="true"
                aria-controls="collapsePlariumOne">
                Мои задачи:
              </button>
            </h2>
          </div>

          <div
            id="collapsePlariumOne"
            class="collapse"
            aria-labelledby="headingPlariumOne"
            data-parent="#accordionPlarium">
            <div class="card card-body">
              - писать чистый и понятный код
              <br />
              - разработка публичного API и инструментов для разработки игр на Unity
              <br />
              - работать с git (создание веток под фичи, мёрдж)
              <br />
              - взаимодействие с другими отделами для уточнения информации по задачам
            </div>
          </div>
        </div>
        <!-- My goals -->

        <!-- Experience -->
        <div class="card">
          <div class="card-header d-flex justify-content-center" id="headingPlariumTwo">
            <h2 class="mb-0">
              <button
                class="btn btn-outline-secondary collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapsePlariumTwo"
                aria-expanded="false"
                aria-controls="collapsePlariumTwo">
                Опыт/Знания:
              </button>
            </h2>
          </div>

          <div
            id="collapsePlariumTwo"
            class="collapse show"
            aria-labelledby="headingPlariumTwo"
            data-parent="#accordionPlarium">
            <div class="card card-body">
              - стандартно: ООП, алгоритмы, работа со структурами данных
              <br />
              - многопоточная и асинхронная работа + task scheduler, custom awaiter
              <br />
              - C#, MSBuild, Unity, npm
              <br />
              - TFS, GitLab + git console commands
              <br />
            </div>
          </div>
        </div>
        <!-- Experience -->
      </div>
      <!-- Collapser -->

    </div>
  </div>
  <!-- Plarium -->

  <!-- Main -->
  <div class="card border-0 shadow my-5">
    <h1 class="font-weight-light text-center pt-2">разработка как хобби</h1>
    <h2 class="font-weight-light text-center">15/10/2015 - ~08/2018</h2>

    <div class="card-body px-5">
      <div class="d-flex justify-content-around text-center">
        <p class="lead">
          Было несколько заказов на фрилансе, но в основном делал игры для души.

          <br />

          Все приведенные ниже проекты, разработаны мной и
          <a
            href="https://www.youtube.com/channel/UCzkgg9jsIi74UK0MF21EXOw"
            target="_blank">
            художником
          </a>
          .
        </p>
      </div>

      <!-- Collapser -->
      <div class="accordion" id="accordionExample">
        <!-- My goals -->
        <div class="card">
          <div class="card-header d-flex justify-content-center" id="headingOne">
            <h2 class="mb-0">
              <button
                class="btn btn-outline-secondary"
                type="button"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne">
                Мои задачи:
              </button>
            </h2>
          </div>

          <div
            id="collapseOne"
            class="collapse"
            aria-labelledby="headingOne"
            data-parent="#accordionExample">
            <div class="card card-body">
              - писать код
              <br />
              - собирать сцены и интерфейс
              <br />
              - составлять задачи для художника
              <br />
              - публиковать проекты в AppStore или Google Play.
            </div>
          </div>
        </div>
        <!-- My goals -->

        <!-- Experience -->
        <div class="card">
          <div class="card-header d-flex justify-content-center" id="headingTwo">
            <h2 class="mb-0">
              <button
                class="btn btn-outline-secondary collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo">
                Опыт/Знания:
              </button>
            </h2>
          </div>

          <div
            id="collapseTwo"
            class="collapse show"
            aria-labelledby="headingTwo"
            data-parent="#accordionExample">
            <div class="card card-body">
              - базовых алгоритмов, структур данных и ООП
              <br />
              - C#, Unity
              <br />
              - принципы работы TCP/UDP
              <br />
              - MySQL
              <br />
              - Git
              <br />
              - проектирование мобильных приложений
              <br />
            </div>
          </div>
        </div>
        <!-- Experience -->
      </div>
      <!-- Collapser -->

    </div>
  </div>
  <!-- Main -->

  <!-- Zombo -->
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <div class="row d-flex justify-content-around">
        <div class="col-lg-5 pb-2">
          <h1 class="font-weight-light">Zombo</h1>
          <p class="lead">
            Tower Defense наоборот.
            <br />
            Необходимо производить Зомбиков, которые ломают вражеские башни.
            <br />
            Цель - пройти до замка в конце дороги.
          </p>
          <p class="lead">На финишной прямой.</p>
          <a
            href="https://yadi.sk/d/JIjmNvzy4jLPnA"
            class="btn btn-outline-secondary"
            target="_blank">
            pre-release 0.1.apk
          </a>
          <a
            href="files/zombo pitch.html"
            class="btn btn-outline-secondary"
            target="_blank">
            pitch letter
          </a>
        </div>

        <div class="img-plane col-lg-7 p-0">
          <img src="images/unity-example.png" alt="Zombo game" use:image />
        </div>
      </div>
    </div>
  </div>
  <!-- Zombo -->

  <!-- SnowCat -->
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <div class="row d-flex justify-content-between">
        <div class="col-lg-8 pb-2">
          <h1 class="font-weight-light">SnowCat</h1>
          <p class="lead">
            Раннер, с изменяемым снегом в реальном времени,
            <br />
            и объектами, реагирующими на его изменения.
            <br />
            Цель - проехать как можно дальше
            <br />
            и освободить как можно больше машин.
          </p>
          <a
                  href="https://yadi.sk/d/dWb1awZay0hndw"
                  class="btn btn-outline-secondary"
                  target="_blank">
            demo.apk
          </a>
          <a
                  href="https://drive.google.com/file/d/1a8czp4ha6DXcMUPjfbkpuaXetmg4ghcT/view?usp=sharing"
                  class="btn btn-outline-secondary"
                  target="_blank">
            gameplay video
          </a>
        </div>

        <div class="img-plane col-lg-4 p-0">
          <img src="images/SnowCat_Icon_512px.png" alt="SnowCat game" use:image />
        </div>
      </div>
    </div>
  </div>
  <!-- SnowCat -->

  <!-- Ping-pong -->
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <div class="row d-flex justify-content-around">
        <div class="col-lg-5 pb-2">
          <h1 class="font-weight-light">Ping-pong</h1>
          <p class="lead">
            <a href="files/ping-pong_tz.pdf" target="_blank">Тестовое задание.</a>
            <br />
            Основное и доп. задания выполнил.
            Мультиплеер рабочий, но с небольшими косяками подключения, т.к. нет сервера 24/7
            <br />
          </p>
          <a
                  href="https://gitlab.com/69popovvlad/ping-pong"
                  class="btn btn-outline-secondary"
                  target="_blank">
            GitLab
          </a>
          <a
                  href="https://yadi.sk/d/LRnVD1lZvdznDw"
                  class="btn btn-outline-secondary"
                  target="_blank">
            ping-pong.apk
          </a>
        </div>

        <div class="img-plane col-lg-7 p-0">
          <img src="images/ping-pong-example.png" alt="Ping-pong" use:image />
        </div>
      </div>
    </div>
  </div>
  <!-- Ping-pong -->

  <!-- OpaGopa -->
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <div class="row d-flex justify-content-around">
        <div class="col-lg-5 pb-2">
          <h1 class="font-weight-light">OpaGopa</h1>
          <p class="lead">
            Прыгай по головам Ботанов, собирай семки.
            <br />
            Была изъята из Google Play.
          </p>
          <p class="lead">
            В планах поменять механику управления Гопой на более понятную.
          </p>
          <a
            href="https://yadi.sk/d/gw-Fo5XX2sNvRg"
            class="btn btn-outline-secondary"
            target="_blank">
            OpaGopa.apk
          </a>
        </div>

        <div class="img-plane col-lg-7 p-0">
          <img src="images/opagopa-example.png" alt="OpaGopa game" use:image />
        </div>
      </div>
    </div>
  </div>
  <!-- OpaGope -->

  <!-- Turtle -->
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">

      <div class="row d-flex justify-content-around">
        <div class="col-lg-5 pb-2">
          <h1 class="font-weight-light">Mortal Turtle</h1>
          <p class="lead">
            Проект для тренировки написания серверной части для игр.
            <br />
            Серверная часть написана на .Net.Socket по UDP протоколу, а также с
            использованием открытой библиотеки
            <a href="https://github.com/RevenantX/LiteNetLib" target="_blank">
              LiteNetLib
            </a>
            .
          </p>
          <!--                    <p class="lead">Отложен до лучших времен.</p>-->
          <a
            href="https://vk.com/videos-169599144?z=video-169599144_456239024%2Fclub169599144%2Fpl_-169599144_-2"
            class="btn btn-outline-secondary"
            target="_blank">
            Демо серверной части (комнаты)
          </a>
        </div>

        <div class="img-plane col-lg-7 p-0">
          <img src="images/turtle-example.png" alt="Turtle game" use:image />
        </div>
      </div>
    </div>
  </div>
  <!-- Turtle -->

  <!-- BadBalls -->
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">

      <div class="row d-flex justify-content-around">
        <div class="col-lg-5 pb-2">
            <h1 class="font-weight-light">BadBalls</h1>
            <p class="lead">
                Большая мультиплеерная игра.
            <br />
                Были собрки двух разных концепций этой игры на мобильную платформу и
                на веб.
            <br />
            </p>
            <!--                    <p class="lead">Отложен до лучших времен.</p>-->
            <a
                    href="http://badballs.ru"
                    class="btn btn-outline-secondary"
                    target="_blank">
                Web demo (old)
            </a>

            <a
                href="https://yadi.sk/d/g7JID8NZrA97qQ"
                class="btn btn-outline-secondary"
                target="_blank">
                Билд для Win64
            </a>

            <a
                href="https://vk.com/videos-169599144?z=video-169599144_456239020%2Fclub169599144%2Fpl_-169599144_-2"
                class="btn btn-outline-secondary"
                target="_blank">
                Процесс создания веб
            </a>
        </div>

        <div class="img-plane col-lg-7 p-0">
          <img
            src="images/badballs-example.png"
            alt="BadBalls game"
            use:image />
        </div>
      </div>
    </div>
  </div>
  <!-- BadBalls -->

  <!-- Chess -->
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">

      <div class="row d-flex justify-content-around">
        <div class="col-lg-5 pb-2">
          <h1 class="font-weight-light">Шахматная обучалка</h1>
          <p class="lead">
            Основная функциональность программы - предоставление задач и
            теоретической части конечному пользователю.
          </p>
          <!--                    <p class="lead">Отложен до лучших времен.</p>-->
          <a
            href="https://vk.com/video-172636239_456239017"
            class="btn btn-outline-secondary"
            target="_blank">
            Видео с демкой
          </a>
          <button
            class="btn btn-outline-secondary dropdown-toggle"
            type="button"
            data-toggle="collapse"
            data-target="#chessCollapse"
            aria-expanded="false"
            aria-controls="collapseExample" />
        </div>

        <div class="img-plane col-lg-2 col-md-5 p-0">
          <img src="images/chess-example1.png" alt="Chess app" use:image />
        </div>
        <div class="d-lg-block d-none img-plane col-lg-2 p-0">
          <img src="images/chess-example2.png" alt="Chess app" use:image />
        </div>
      </div>

      <br />
      <div class="collapse" id="chessCollapse">
        <div class="card card-body text-center">
          <p>
            Также присутствует три вида пользователей: ученик, тренер и гость.
            <br />
            У каждого вида свои привилегии и возможности, например: тренер может
            <a href="https://vk.com/video62021340_456239580" target="_blank">
              задавать задания своим ученикам
            </a>
            ; а у ученика есть возможность
            <a href="https://vk.com/video62021340_456239568" target="_blank">
              выбирать себе тренера
            </a>
            .
            <br />
            Все операции: авторизация, регистрация, смена тренера и т.п.,
            осуществлялись с использованием MySQL на хостинге, с которого также
            скачивались задачи в виде текстовых файлов в формате .pgn (рисунок
            ниже), после чего парсились на стороне клиента и записывались в
            класс, для удобства использования.
          </p>
          <div class="p-0 of-contain d-flex justify-content-around" style="align-items: flex-start;">
            <img src="images/chess-example3.png" class="col-lg-8"alt="Chess app" use:image />
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Chess -->

</div>
<!-- Page Content -->
