<script>
  document.body.style.backgroundImage = "url(images/vba-bg.png)";
</script>

<!-- Page Content -->
<div class="container bg-img bg-img-vba">
  <div class="card border-0 shadow my-5">
    <h1 class="font-weight-light text-center pt-2">VBA</h1>

    <div class="card-body px-5 text-justify">
      <p class="lead">
        Имею также опыт работы с Excel VBA.
        <br />
        Воспроизводил и наглядно показывал алгоритмику ПО написанных на Java.
        <br />
        Оставлю ссылку на GitLab с файлами Excel. На некоторых версиях Excel
        макрос может не корректно или вовсе не работать.
        <br />
        <br />
        Данная программа на листе "Подсчет производных Ocean" при нажатии кнопки
        "Запустить расчет производных и аппроксимацию", используя начальные
        значения параметров (которые можно сбросить соседней кнопкой), запускает
        цикл, на каждой итерации которого, выводятся подсчитанные значения ряда.
        <br />
        Значения ряда просматриваются и, по составленным автоматически матрицам,
        находятся отклонения. Программа прерывает цикл, если значения отклонений
        соответствуют условиям.
      </p>
      <a
        href="https://gitlab.com/69popovvlad/for-summary"
        class="btn btn-outline-secondary"
        target="_blank">
        Пример Excel VBA
      </a>
      <br />
    </div>
  </div>
</div>
<!-- Page Content -->
