<script>
  import { image } from "../utils";

  document.body.style.backgroundImage = "url(images/main-bg.png)";
</script>

<!-- Page Content -->
<div class="container">
  <div class="card border-0 shadow my-5">
    <h1 class="font-weight-light text-center pt-2">Web</h1>

<!--    <div class="card-body px-5">-->
<!--      <p class="lead">-->
<!--        <span style="text-decoration: underline">Опыт/Знания:</span>-->
<!--        <br />-->
<!--        – <a href="https://laravel.com" target="_blank">Laravel</a>-->
<!--        <br />-->
<!--        – Blade, Vue-->
<!--        <br />-->
<!--        – Bootstrap, SASS-->
<!--        <br />-->
<!--      </p>-->
<!--    </div>-->

    <div class="card-body px-5">
      <!-- Collapser -->
      <div class="accordion" id="accordionExample">
        <!-- Experience -->
        <div class="card">
          <div class="card-header d-flex justify-content-center" id="headingOne">
            <h2 class="mb-0">
              <button
                      class="btn btn-outline-secondary"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne">
                Опыт:
              </button>
            </h2>
          </div>

          <div
                  id="collapseOne"
                  class="collapse show"
                  aria-labelledby="headingOne"
                  data-parent="#accordionExample">
            <div class="card card-body">
              – Laravel
              <br />
              – Blade, Vue
              <br />
              – Bootstrap, SASS
              <br />
            </div>
          </div>
        </div>
        <!-- Experience -->

        <!-- ~Experience -->
        <div class="card">
          <div class="card-header d-flex justify-content-center" id="headingTwo">
            <h2 class="mb-0">
              <button
                      class="btn btn-outline-secondary collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo">
                Понимание:
              </button>
            </h2>
          </div>

          <div
                  id="collapseTwo"
                  class="collapse"
                  aria-labelledby="headingTwo"
                  data-parent="#accordionExample">
            <div class="card card-body">
              - Docker
              <br />
              - AWS
              <br />
              - CI/CD
              <br />
            </div>
          </div>
        </div>
        <!-- ~Experience -->
      </div>
      <!-- Collapser -->
    </div>
  </div>

  <!-- Апельсин -->
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <div class="row d-flex justify-content-around">
        <div class="col-lg-5 pb-2">
          <h1 class="font-weight-light">Детский Клуб "Апельсин"</h1>
          <p class="lead">
            – Laravel
            <br />
            – Blade, Vue
            <br />
            – Bootstrap, SASS
            <br />
            – AWS, Docker
          </p>
          <a
                  href="http://апельсин-дц.рф"
                  class="btn btn-outline-secondary"
                  target="_blank">
            Перейти
          </a>
        </div>

        <div class="img-plane col-lg-7 p-0">
          <img src="images/web-apelsin.png" alt="Апельсин" use:image />
        </div>
      </div>
    </div>
  </div>
  <!-- Апельсин -->

  <!-- Top secret -->
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <div class="row d-flex justify-content-around">
        <div class="col-lg-5 pb-2">
          <h1 class="font-weight-light">Top secret</h1>
          <p class="lead">
            Сайт для гос. конторы.
            <br />Показывать нельзя, рассказывать тоже.
            <br />Пройдемте дальше...
          </p>
          <p class="lead">
            – Laravel
            <br />
            – Blade, Vue
            <br />
            – Bootstrap, SASS
          </p>
          <a
                  href="https://tsniimash.ru"
                  class="btn btn-outline-secondary"
                  target="_blank">
            Перейти
          </a>
        </div>

        <div class="img-plane col-lg-7 p-0">
          <img src="images/web-secret.png" alt="Top secret" use:image />
        </div>
      </div>
    </div>
  </div>
  <!-- Top secret -->

  <!-- Апельсин -->
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <div class="row d-flex justify-content-around">
        <div class="col-lg-5 pb-2">
          <h1 class="font-weight-light">Сайт-портфолио</h1>
          <p class="lead">
            – Svelte
            <br />
            – JS
            <br />
            – Bootstrap, SASS
            <br />
            – GitLab Pages, CI/CD
          </p>
          <a
                  href="https://69popovvlad.gitlab.io/cv"
                  class="btn btn-outline-secondary"
                  target="_blank">
            Перейти
          </a>
        </div>

        <div class="img-plane col-lg-7 p-0">
          <img src="images/web-cv.png" alt="Сайт-портфолио" use:image />
        </div>
      </div>
    </div>
  </div>
  <!-- Апельсин -->
</div>
<!-- Page Content -->
