<script>
  import { Link, link } from "svelte-routing";
  import { basepath } from "../utils";
  
  let _basepath = basepath;
  if (_basepath !== "/") _basepath += "/";
</script>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top fixed-top shadow">
  <div class="container">
    <a class="navbar-brand" href={_basepath} use:link>Vladislav P.</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" />
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" use:link href={_basepath}>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" use:link href="unity">Unity</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" use:link href="java">Java</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" use:link href="web">Web</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" use:link href="vba">VBA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" use:link href="about">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navigation -->
