<svelte:options accessors={true} />

<script>
  let pointBox;

  let year = 2021;
</script>

<div class="js-timeline_item ag-timeline_item">
  <div class="ag-timeline-card_box">
    <div
      class="js-timeline-card_point-box ag-timeline-card_point-box"
      bind:this={pointBox}
    >
      <div class="ag-timeline-card_point">{year}</div>
    </div>
    <div class="ag-timeline-card_meta-box">
      <div class="ag-timeline-card_meta">Season 13</div>
    </div>
  </div>
  <div class="ag-timeline-card_item">
    <div class="ag-timeline-card_inner">
      <div class="ag-timeline-card_img-box">
        <img
          src="https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/images/img-13.png"
          class="ag-timeline-card_img"
          width="640"
          height="360"
        />
      </div>
      <div class="ag-timeline-card_info">
        <div class="ag-timeline-card_title">Season 13</div>
        <div class="ag-timeline-card_desc">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
          et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
          felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
          consequat massa quis enim. Donec pede justo, fringilla vel, aliquet
          nec, vulputate eget, arcu.
        </div>
      </div>
    </div>
    <div class="ag-timeline-card_arrow" />
  </div>
</div>
