<!--http://69popovvlad.gitlab.io/cv-->
<meta charset="utf-8">
<table bgcolor="#ffffff" align="center" width="600" style="box-shadow: 1px 1px 10px 3px rgba(128, 128, 128, 0.42)">
    <tbody>
    <tr>
        <!-- Left column -->
        <td valign="top" height="100">
            <table class="left-column bg-dell-blue" style="min-width: 200px; height: 100%">
                <!-- Photo -->
                <tr align="center">
                    <td class="bg-white" style="padding: 32px 0 32px 0">
                        <img src="/images/summary/me_1024x1024.png" width="128" style="border-radius: 100%; margin-left: -4px;" class="bg-white border-gray">
                    </td>
                </tr>
                <!-- Photo -->

                <!-- About me -->
                <tr>
                    <td>
                        <table class="icon-block text-white">
                            <tr>
                                <td valign="top">
                                    <img src="/images/summary/icons/icon0002.png" width="32" class="float-left">
                                </td>
                                <td valign="top">
                                    <div>
                                        <h4 class="text-bold text-white">About me:</h4>
                                        <h5>23 years</h5>
                                        <h5 class="float-left" style="margin-top: 8px">Rus</h5>
                                        <img src="/images/summary/icons/icon0001.png" width="32">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- About me -->

                <!-- Contacts -->
                <tr>
                    <td>
                        <table class="icon-block text-white">
                            <tr>
                                <td valign="top">
                                    <img src="/images/summary/icons/icon0004.png" width="32" class="float-left">
                                </td>
                                <td valign="top">
                                    <div>
                                        <h4 class="text-bold text-white">Contacts:</h4>
                                        <h5>+7 (916) 118-74-28</h5>
                                        <h5><a href="mailto:69popovvlad@gmail.com?subject=Summary%20answer" target="_blank" style="color: white">69popovvlad@gmail.com</a></h5>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- Contacts -->

                <!-- Website -->
                <tr>
                    <td>
                        <table class="icon-block text-white">
                            <tr>
                                <td valign="top">
                                    <img src="/images/summary/icons/icon0003.png" width="32" class="float-left">
                                </td>
                                <td valign="top">
                                    <div>
                                        <h4 class="text-bold text-white">My site:</h4>
                                        <h5><a href="http://69popovvlad.gitlab.io/cv" target="_blank" style="color: white">69popovvlad.gitlab.io/cv</a></h5>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- Website -->

                <!-- Skills -->
                <tr>
                    <td>
                        <table class="icon-block text-white">
                            <tr>
                                <td valign="top">
                                    <img src="/images/summary/icons/icon0005.png" width="32" class="float-left">
                                </td>
                                <td valign="top">
                                    <div>
                                        <h4 class="text-bold text-white">Skills:</h4>
                                        <h5 class="list-item">Java Core</h5>
                                        <h5 class="list-item">C#</h5>
                                        <h5 class="list-item">SQL</h5>
                                        <h5 class="list-item">Git (GitLab)</h5>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- Skills -->

                <!-- Hobby -->
                <tr>
                    <td>
                        <table class="icon-block text-white">
                            <tr>
                                <td valign="top">
                                    <img src="/images/summary/icons/icon0010.png" width="32" class="float-left">
                                </td>
                                <td valign="top">
                                    <div>
                                        <h4 class="text-bold text-white">Hobby:</h4>
                                        <h5 class="list-item"><a href="https://69popovvlad.gitlab.io/cv/unity" target="_blank">GameDev</a></h5>
                                        <h5 class="list-item">Piano</h5>
                                        <h5 class="list-item">Chess</h5>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- Hobby -->

                <!-- End cheat -->
                <tr>
                    <td height="100%">
                    </td>
                </tr>
                <!-- End cheat -->
            </table>
        </td>
        <!-- Left column -->

        <!-- Right column -->
        <td>
            <table class="right-column bg-white" style="min-width: 200px">
                <!-- Top -->
                <tr align="center">
                    <td>
                        <h2>Vladislav Popov</h2>
                        <h4 class="text-normal text-gray">Software DELLveloper (Java)</h4>
                    </td>
                </tr>
                <!-- Top -->

                <!-- Education -->
                <tr>
                    <td>
                        <table class="icon-block">
                            <tr>
                                <td valign="top">
                                    <img src="/images/summary/icons/icon0008.png" width="32" class="float-left">
                                </td>
                                <td valign="top">
                                    <div>
                                        <h4>Education</h4>
                                        <h5 class="list-item text-gray">
                                            2018 – Financial University under the Government of the Russian Federation<br/>
                                            Economy
                                        </h5>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- Education -->

                <!-- Job -->
                <tr>
                    <td>
                        <table class="icon-block">
                            <tr>
                                <td valign="top">
                                    <img src="/images/summary/icons/icon0007.png" width="32" class="float-left" style="margin-top: 12px">
                                </td>
                                <td valign="top">
                                    <div>
                                        <h4>Work experience <br/>(june 2019 — august 2020)</h4>
                                        <h5 class="text-gray">
                                            <a href="https://tsniimash.ru" target="_blank">
                                                Central Research Institute for Machine Building
                                            </a><br/>
                                            Department: <a href="https://www.glonass-iac.ru" target="_blank">GLONASS</a>
                                            <br/><br/>
                                            • Development of software for solving tasks of space geodesy<br/>
                                            • Implementation of satellite information processing projects<br/>
                                            • Including scientific data conversion<br/>
                                            • Multi-threaded processing
                                            <br/><br/>
                                            Technologies:<br/>
                                            &nbsp;&nbsp;• Java Core, Collections, Stream API<br/>
                                            &nbsp;&nbsp;• Git (GitLab)<br/>
                                        </h5>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- Job -->

                <!-- Exp -->
                <tr>
                    <td>
                        <table class="icon-block">
                            <tr>
                                <td valign="top">
                                    <img src="/images/summary/icons/icon0006.png" width="32" class="float-left" style="margin-top: 12px">
                                </td>
                                <td valign="top">
                                    <div>
                                        <h4>Private practice / Freelance <br/>(august 2013 - june 2019)</h4>
                                        <h5 class="text-gray">

                                            Implementation of own mobile applications and publishing them in the AppStore and GooglePlay.<br/>
                                            Writing individual scripts or developing projects to order on the Unity engine
                                            <br/><br/>
                                            Skills:<br/>
                                            &nbsp;&nbsp;• Basic algorithms, data structures and OOP<br/>
                                            &nbsp;&nbsp;• C#<br/>
                                            &nbsp;&nbsp;• Unity<br/>
                                            &nbsp;&nbsp;• SQL (MySQL), PHP<br/>
                                            &nbsp;&nbsp;• Git (GitLab)<br/>
                                            &nbsp;&nbsp;• .Net Socket and understanding of data transfer protocols
                                        </h5>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- Exp -->

                <!-- About me -->
                <tr>
                    <td>
                        <table class="icon-block">
                            <tr>
                                <td valign="top">
                                    <img src="/images/summary/icons/icon0009.png" width="32" class="float-left">
                                </td>
                                <td valign="top">
                                    <div>
                                        <h4>About me</h4>
                                        <h5 class="text-gray">I started programming as a hobby at ~17 years old. Since then I have been programming most of the time. I develop games and applications on the Unity engine.<br/>
                                            Also have experience in publishing my own applications in the AppStore and Google Play.
                                            <br/><br/>
                                            Love to learn something new :з<br/>
                                        </h5>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- About me -->
            </table>
        </td>
        <!-- Right column -->
    </tr>
    </tbody>
</table>

<style>
    @font-face {
        font-family: "Museo";
        src: url("/files/fonts/Museo 300.otf") format("opentype"), url("/files/fonts/Museo 300.ttf") format("truetype");
    }

    @font-face {
        font-family: "Museo Regular";
        src: url("/files/fonts/Museo100-Regular.otf") format("opentype"), url("/files/fonts/Museo100-Regular.ttf") format("truetype");
    }

    table {
        mso-table-lspace: 0;
        mso-table-rspace: 0;
        border-collapse: collapse;
        padding: 0;
        border: 0;
    }

    td {
        mso-table-lspace: 0;
        mso-table-rspace: 0;
        border-collapse: collapse;
        padding: 0;
        border: 0;
    }

    th {
        mso-table-lspace: 0;
        mso-table-rspace: 0;
        border-collapse: collapse;
        padding: 0;
        border: 0;
    }

    body {
        margin: 0;
        background-color: #2b2a34;

        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;

        background-size: cover;
        -o-background-size: cover;

        font-family: "Museo Regular";
    }

    h6 {
        margin: 0 0 0 8px;
        font-family: "Museo Regular";
    }

    h5 {
        margin: 0px 0 0 8px;
        font-family: "Museo Regular";
    }

    .text-bold {
        font-family: "Museo";
    }

    .text-normal {
        color: #007db8;
        font-family: "Museo Regular";
    }

    h4 {
        margin: 8px 0 8px 8px;
        color: #007db8;
        font-family: "Museo";
    }

    h2, h3 {
        margin: 8px 0 0 0;
        color: #007db8;
        font-family: "Museo Regular";
    }

    .text-white {
        color: white;
    }

    .text-gray {
        color: #808080;
    }

    .bg-dell-blue {
        background-color: #007db8;
    }

    .bg-white {
        background-color: white;
    }

    .border-gray {
        border: 3px solid #bdbdbd;
    }

    .float-left {
        float: left;
    }

    .w-100 {
        width: 100% !important;
    }

    .h-100 {
        height: 100% !important;;
    }

    .left-column a{
        color: white;
    }

    .right-column a{
        color: #808080;
    }

    .icon-block {
        margin: 8px;
    }

    .list-item {
        display: list-item;
        margin-left: 24px
    }

    .circle-shadow-inset {
        box-shadow: 3px 3px 5px #808080 inset;
    }
</style>