<script>
  import {Router, Route} from "svelte-routing";
  import {basepath} from "./utils/basepath.js";

  import Nav from "./components/Nav.svelte";
  import Home from "./routes/Home.svelte";
  import Unity from "./routes/Unity.svelte";
  import VBA from "./routes/VBA.svelte";
  import About from "./routes/About.svelte";
  import Java from "./routes/Java.svelte";
  import Policy from "./routes/Policy.svelte";
  import Web from "./routes/Web.svelte";

  export let url = "";
</script>

<Nav />
<!-- Как Батя закрыл -->

<Router {basepath} {url}>
  <Route path="/">
    <Home />
  </Route>
  <Route path="/unity">
    <Unity />
  </Route>
  <Route path="/java">
    <Java />
  </Route>
  <Route path="/vba">
    <VBA />
  </Route>
  <Route path="/about">
    <About />
  </Route>
  <Route path="/policy">
    <Policy />
  </Route>
  <Route path="/web">
    <Web />
  </Route>
</Router>
