:root {
  --grey: hsl(216, 14%, 59%);
  --grey-lighten: hsl(216, 14%, 74%);
  --grey-darken: hsl(216, 14%, 44%);

  --green-lighten: hsl(134, 71%, 45%);

  --dark-raw: 246, 11%, 18%;
  --dark: hsl(var(--dark-raw));
  --dark-lighten: hsl(246, 11%, 33%);
  --dark-darken: hsl(246, 11%, 3%);

  --red: hsl(4, 59%, 59%);
  --red-lighten: hsl(4, 59%, 74%);
  --red-darken: hsl(4, 59%, 44%);

  --yellow: hsl(46, 62%, 49%);
  --yellow-lighten: hsl(46, 62%, 64%);
  --yellow-darken: hsl(46, 62%, 34%);

  --brown: hsl(31, 24%, 63%);
  --brown-lighten: hsl(31, 24%, 78%);
  --brown-darken: hsl(31, 24%, 48%);

  --blue: hsl(208, 100%, 66.9%);
}