// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Variables
@import "variables";

// Timeline style
@import "timeline";

body {
  @extend .bg-dark;

  padding-top: 3em;

  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  background-size: cover;
  -o-background-size: cover;
}

noscript {
  position: absolute;
  left: 50%;
  color: white;
  font-size: 1.25em;
  transform: translateX(-50%);
}

// Background's colors
.bg-grey { background-color: var(--grey); }
.bg-grey-lighten { background-color: var(--grey-lighten); }
.bg-grey-darken { background-color: var(--grey-darken); }

.bg-dark { background-color: var(--dark); }
.bg-dark-lighten { background-color: var(--dark-lighten); }
.bg-dark-darken { background-color: var(--dark-darken); }

.bg-red { background-color: var(--red); }
.bg-red-lighten { background-color: var(--red-lighten); }
.bg-red-darken { background-color: var(--red-darken); }

.bg-yellow { background-color: var(--yellow); }
.bg-yellow-lighten { background-color: var(--yellow-lighten); }
.bg-yellow-darken { background-color: var(--yellow-darken); }

.bg-brown { background-color: var(--brown); }
.bg-brown-lighten { background-color: var(--brown-lighten); }
.bg-brown-darken { background-color: var(--brown-darken); }

// Box-shadows
.bs-grey { box-shadow: 5px 5px 5px var(--grey); }
.bs-dark { box-shadow: 5px 5px 5px var(--dark); }
.bs-red { box-shadow: 5px 5px 5px var(--red-darken); }
.bs-yellow { box-shadow: 5px 5px 5px var(--yellow-darken); }
.bs-brown { box-shadow: 5px 5px 5px var(--brown-darken); }

.bg-image-full {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

.text-green-lighten {
  color: var(--green-lighten);
}

.btn-outline-blue {
  color: #282828;
  border-color: #282828;
}

.btn-outline-blue:hover {
  color: #282828;
  background-color: #fff;
  border-color: #fff;
}

.img-plane {
  @extend .bs-grey;
  @extend .rounded;
  display: inline-block;
  //height: 17.5em;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.img-main {
  min-height: 10em;
  max-height: 60em;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.of-contain {
  object-fit: contain;
}

.info-block {
  min-height: 10em;
  max-height: 30em;
}
